@*
<copyright file="NavMenu.razor" company="VS2026-.net10-playground">
Copyright (c) VS2026-.net10-playground. All rights reserved.
Licensed under the MIT License.
</copyright>

<author>Damir</author>
<date>2025-01-15</date>
    <summary>
    Navigation menu component for Blazor app.
    Includes links to Home, Counter, Object Detection, and Weather pages.
    </summary>
*@

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ObjectDetectionBlazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="objectdetection">
                <span class="bi bi-camera-fill" aria-hidden="true"></span> Object Detection
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

